@use '../mixins/responsive.scss' as *;

//Bloque principal del contenido
.main-content {
  padding: var(--globalPadding);
  width: 100%;
  height: 100vh;
  max-height: 100vh;

  @include responsive(desktop) {
    width: calc(100% - var(--footerWidth));
    gap: 20px;
  }
}

.article {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 var(--globalPadding);
  height: calc(100vh - var(--menuHeight));
  //margin: 20px 20px var(--menuHeight) 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 20px;
  @include responsive(laptop) {
    margin-bottom: 0;
  }
  @include responsive(desktop) {
    width: calc(100% - var(--footerWidth));
  }
}

.article::-webkit-scrollbar,
.container::-moz-scrollbar {
  width: 0;
  height: 0;
}

.container {
  padding: var(--globalPadding);

  border-radius: var(--globalRadius);

  //overflow-y: scroll;
  transition: opacity var(--defaultTime);

  @include responsive(tablet) {
  }
  @include responsive(laptop) {
  }
  @include responsive(desktop) {
  }
}

