/* ESTILOS DEL FOOTER */
@use '../mixins/responsive.scss' as *;

.contact {
  width: 95%;

/*   position: relative;
  padding: var(--globalPadding);
  width: auto;
  bottom: var(--menuHeight);
  //margin-bottom: var(--menuHeight);
  top: 20px;
  left: 0;

  @include responsive(laptop) {
    position: relative;
    width: calc(100% - var(--menuWidth));
    bottom: 0;
  }
  @include responsive(desktop) {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: var(--footerWidth);
  } */
}

.contact__container {
  background-color: var(--mainColor);
  padding: 2rem;
  border-radius: var(--globalRadius);
}

.form {
  gap: 5px;
}

.form__label {
  margin-bottom: 0px;
}

.input__form {
  min-height: 45px;
  width: auto;
  margin: 0px;
  border: 1px none var(--borderlines);
  background-color: rgba(124, 156, 204, 0.2);
  border-radius: 20px;
  font-family: var(--vietnam-Font);
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
  word-spacing: 1px;
  padding: 0px 20px;
}

.input__form:hover,
.textarea__form:hover {
  border: 1px solid var(--borderlines);
  outline: none;
}

.input__form:focus,
.textarea__form:focus {
  border: 2px solid var(--borderlines);
  outline: none;
}

.textarea__form {
  min-height: 45px;
  width: auto;
  margin: 0px;
  border: 1px none var(--borderlines);
  background-color: rgba(124, 156, 204, 0.2);
  border-radius: 20px;
  font-family: var(--vietnam-Font);
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
  word-spacing: 1px;
  padding: 20px;
}

.form__button {
  min-height: 45px;
  width: auto;
  margin: 0px;
  border: 1px none var(--borderlines);
  background-color: rgba(124, 156, 204, 0.2);
  border-radius: 20px;
  font-family: var(--vietnam-Font);
  font-size: 16px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.9);
  word-spacing: 1px;
  padding: 20px;
}

.form__button:hover {
  background-color: var(--white);
  color: #191f33;
  font-weight: 400;
}

