@use '../mixins/responsive.scss' as *;

.header {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--menuHeight);
  border-top: 1px solid var(--borderlines);
  background-color: var(--bgmenu);
  color: var(--white);
  text-align: center;
  justify-self: center;

  @include responsive(tablet) {
    display: flex;
    border-top: 0px;
    position: relative;
    bottom: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

