/* ESTILOS DEL MAIN */
/* ESTILOS DEL MAIN */
@use '../mixins/responsive.scss' as *;

.main {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-position: 0 0;

  @include responsive(laptop) {
    grid-template-columns: 15% 85%;
  }
  @include responsive(desktop) {
    grid-template-columns: 15% 60% 25%;
    background-image: url(../../assets/images/bg.png);
  }
}

.main > *:not(:last-child) {
  border-right: 1px solid var(--borderlines);
}

.main > *:last-child {
  border-right: none;
}

/* .main {
  @include responsive(laptop) {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    grid-area: 'menu content footer';
    grid-gap: 20px;
    height: 100vh;
  }
}

.main > *:not(:last-child) {
  @include responsive(laptop) {
    border-right: 1px solid var(--borderlines);
  }
}

.main > *:last-child {
  border-right: none;
}
 */

