//Utilities

.grid {
  display: grid;
}

.bg-main-color {
  background-color: var(--mainColor);
}

.hide {
  height: 0;
  transform: rotateY('-90deg');
  opacity: 0;
  top: 0;
  left: 40%;
  transition: opacity 0.5s, transform 0.5s;
}

.block {
  transition: opacity 0.5s, transform 0.5s;
  position: absolute;
  padding: 1.25rem;
  width: auto;
}

.flex {
  display: flex;
}
